@page "/timeentry"
<h3>Time Entry</h3>

<div class="container">
    <div class="row">
        <div class="col-4">Name            
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <InputText @bind-Value="Model!.Name"></InputText>
        </div>
        <div class="col-4">
            
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Entry Date
        </div>
        <div class="col-4">
            
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <InputDate @bind-Value="Model!.EntryDate"></InputDate>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Entry
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <InputDate @bind-Value="Model!.Entry" Type="InputDateType.DateTimeLocal"></InputDate>
        </div>
        <div class="col-4">
            
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Exit
        </div>
        <div class="col-4">
            
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <InputDate @bind-Value="Model!.Exit" Type="InputDateType.DateTimeLocal"></InputDate>
        </div>
        <div class="col-4">
            
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <button class="btn btn-secondary">Cancel</button>
            <button class="btn btn-primary" @onclick="SaveEntry">Save</button>
        </div>
        <div class="col-4">
        </div>
    </div>

    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            
        </div>
        <div class="col-4"><button class="btn btn-warning">Clear</button>
            <button class="btn btn-primary" @onclick="PersistAllEntries">Persist</button>
        </div>
    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Person</th>
                <th>Date</th>
                <th>Entry</th>
                <th>Exit</th>
                <th>Total Hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exitingTimeEntry in ExistingTimeEntries)
            {
                <tr>
                    <td>@exitingTimeEntry.PersonName</td>
                    <td>@exitingTimeEntry.EntryDate.ToShortDateString()</td>
                    <td>@exitingTimeEntry.EntryTime.ToShortTimeString()</td>
                    <td>@exitingTimeEntry.ExitTime.ToShortTimeString()</td>
                    <td>@exitingTimeEntry.TotalHours</td>
                    </tr>
            }
        </tbody>
    </table>


